[submodule "e-courses"]
	path = e-courses
	url = https://github.com/Abdulrahman-Yasser/e-courses
[submodule "TimeTriggered-Embedded-system-Tiva-c"]
	path = TimeTriggered-Embedded-system-Tiva-c
	url = https://github.com/Abdulrahman-Yasser/TimeTriggered-Embedded-system-Tiva-c
[submodule "Autosar-drivers"]
	path = Autosar-drivers
	url = https://github.com/Abdulrahman-Yasser/Autosar-drivers
[submodule "FWD-Advanced-Embedded"]
	path = FWD-Advanced-Embedded
	url = https://github.com/Abdulrahman-Yasser/FWD-Advanced-Embedded
